h1 {
    color: yellow;
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;

}

p {
    color: blue;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h2{
    color: blue;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h3 {
    color: blue;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

/* unvisited link */
a:link {
    color: purple;
  }
  
  /* visited link */
  a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color: green;
  }
  
  /* selected link */
  a:active {
    color: rgb(132, 0, 255);
  }